body {
background-image: url(../img/food.jpeg);
background-size: cover;
background-attachment: fixed;
min-height: 100vh;
margin: 0;
padding: 20px;
color: #e07f7f; 
font-family: Arial;
display: flex;
justify-content: center;
}

.container {
display: grid;
grid-template-areas:
  "header header header"
  "links picture rating"
  "ingredients directions equipment"
  "footer footer footer";
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto auto;
gap: 20px;
width: 100%;



}


/*Header*/

.header {
    grid-area: header;


}

h1 {
text-align: center;
text-transform: uppercase;
text-decoration-line: underline;
text-decoration-color: rgb(228, 164, 28);
text-decoration-style: dotted;
font-size: 140px;
text-shadow: 3px 3px 3px red;
}

h2 {
text-align: center;
font-style: italic;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 60px;
margin-top: -1%;
text-shadow: 3px 2px 3px red;
}

/*Header*/


/*Row 2*/


img {
border: 10px;
border-radius: 20px;
border-style: dotted;
border-color: rgb(228, 164, 28);



}

.picture {
grid-area: picture;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 20px;


}

.conversion-section {

border-radius: 10px;

}

.rate{

margin-top: 30px;
}

.rating {
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 20px;
grid-area: rating;
transform: translateY(70px);
height: fit-content;

}

.links {
grid-area: links;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
height: fit-content;
transform: translateY(20px);
}




/*Row 2*/

/*Row 3*/

.ingredients {
grid-area: ingredients;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
height: fit-content;
}

.equipment {
grid-area: equipment;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
height: fit-content;
}

.directions {
grid-area: directions;
padding: 20px;
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
height: fit-content;
}


ul {
background: linear-gradient(to bottom, #e6cbcb, #d4b8815d,  rgba(228, 118, 28, 0.332) );
padding: 20px 60px;
border-radius: 5px;
font-size: 25px;

}

li {
margin: 8px 0;
padding-bottom: 10px;
height: fit-content;
}

ol {
background: linear-gradient(to bottom, #e6cbcb, #d4b8815d,  rgba(228, 118, 28, 0.332) );
padding: 20px 60px;
border-radius: 5px;
font-size: 25px;

}

/*Row 3*/

.footer{grid-area: footer;}

p {
text-align: center;
background-color: rgba(255, 255, 255, 0.9);
}


h3 {
background-color: rgba(228, 118, 28, 0.358);
text-align: center;
padding: 4px;
border-radius: 5px;
height: fit-content;
margin-top: -10px;
font-size: 20px;
}


figcaption {
text-align: center;
font-style: italic;
background-color: rgba(255, 255, 255, 0.9);
}

/*easy, medium, hard recipe rating section*/
fieldset {
margin: auto;
padding: 15px;
background-color: rgba(246, 200, 200, 0.267);
border-radius: 5px;
text-align: center;
}

/*how difficult the recipe is*/
legend {
font-weight: 600;
text-align: center;
font-size: 16px;
}

/* Input Section */
.table {
margin: 10px 0;
background: linear-gradient(to bottom, #e6cbcb, #d4b8815d,  rgba(228, 118, 28, 0.332) );
border-radius: 10px;
padding: 20px;
text-align: center;
}

.table input {
padding: 8px;
margin: 5px;
border-radius: 5px;
border: 1px solid #737070;
text-align: center;
}


